.todo{
  display: flex;
  flex-flow: column wrap;
}
.toDo_head{
  display: flex;
}
.element>div{
  justify-content: flex-end;
display: flex;
}
span{
  flex-grow: 1;
}
input{
  flex-grow: 1;
  margin-top: 10px;
}
button{
  margin-left: 20px;
}
.hide{
display: none;
}
